venv/
keys/*
__pycache__/
.env

# Airflow specific
airflow.db
airflow.cfg
airflow_login.py
dbinit.py
initdb.py
secrets.py
logs/
plugins/.pytest_cache/
plugins/.mypy_cache/
plugins/dist/
plugins/build/
plugins/.eggs/
plugins/.tox/
plugins/.venv/
plugins/env/
plugins/lib/
plugins/parts/
plugins/sdist/
plugins/var/
plugins/wheels/
plugins/*.egg-info/
plugins/.installed.cfg
plugins/*.egg
plugins/*.manifest
plugins/*.spec
plugins/pip-log.txt
plugins/pip-delete-this-directory.txt
plugins/htmlcov/
plugins/.coverage
plugins/.coverage.*
plugins/.cache
plugins/nosetests.xml
plugins/coverage*.xml
plugins/*,cover
plugins/.hypothesis/
plugins/.pytest_cache/
plugins/*.mo
plugins/*.pot
plugins/local_settings.py
plugins/instance/
plugins/.webassets-cache/
plugins/webserver_config.py
plugins/.scrapy/
plugins/docs/_build/
plugins/docs/_doctrees/
plugins/docs/_inventory_cache/
plugins/docs/*/_api/
plugins/target/
plugins/.ipynb_checkpoints/
plugins/.python-version/
plugins/celerybeat-schedule
plugins/*.sage.py
plugins/.env
plugins/.autoenv*.zsh
plugins/.venv*
plugins/venv*
plugins/ENV/
plugins/.spyderproject
plugins/.ropeproject
plugins/.idea/
plugins/*.iml
plugins/.vscode/
plugins/*.swp
plugins/*~
plugins/\\#*\\#
plugins/.emacs.desktop
plugins/.emacs.desktop.lock
plugins/*.elc
plugins/auto-save-list
plugins/tramp
plugins/\\#*.
plugins/.DS_Store
plugins/*.bkp
plugins/rat-results.txt
plugins/.gitattributes
plugins/*.generated
plugins/*.tar.gz

# General Python project exclusions
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
.nosetests.xml
.tox/
.eggs/
.venv/
env/
lib/
parts/
sdist/
var/
wheels/
*.egg-info
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.cache
nosetests.xml
coverage*.xml
*,cover
.hypothesis/
.pytest_cache/
.pytype/
.mypy_cache/
.ropeproject/
.pytest_cache/
.ipynb_checkpoints
.python-version
celerybeat-schedule
*.sage.py
.env
.autoenv*.zsh
.venv*
venv*
ENV/
.spyderproject
.ropeproject
.idea/
*.iml
.vscode/
*.swp
*~
\\#*\\#
.emacs.desktop
.emacs.desktop.lock
*.elc
auto-save-list
tramp
\\#*.
.DS_Store
*.bkp
rat-results.txt
.gitattributes
*.generated
*.tar.gz